<a href="https://colab.research.google.com/github/nmonsalve1998/Cuso_Introductorio_de_Spark/blob/master/Politics%2C_economy%2C_demography_what_are_the_factors_that_influence_vaccination%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRO

In this Colab we are to explore a data set of Kaggle which is "COVID-19 World Vaccination Progress" and "Country Statistics - UNData"


---



This datasets can be find in the link below 

- COVID-19 World Vaccination Progress:
 (https://www.kaggle.com/gpreda/covid-world-vaccination-progress/tasks?taskId=3222)

- Country Statistics - UNData:( https://www.kaggle.com/sudalairajkumar/undata-country-profiles/ )
---


 What we want to answer with this dataset ? ----> " what are the factors that influence vaccination? "


---



How are we going to do it ? ----> By doing an Exploratory data analysis (EDA) 


---

Which are the steps to accomplish our objective?



1.   El
2.   Elemento de la lista

#Uploading the data

1) Uploading the data

In [116]:
# The Kaggle Dataset were uploaded in Github

url_country_vaccinations = 'https://raw.githubusercontent.com/nmonsalve1998/Data-analysis--COVID-19-World-Vaccination-Progress/main/country_vaccinations.csv'
url_kiva_country_profile_variables = 'https://raw.githubusercontent.com/nmonsalve1998/Data-analysis--COVID-19-World-Vaccination-Progress/main/kiva_country_profile_variables.csv'

#Here we create our data frames from the datasets
df1 = pd.read_csv(url_country_vaccinations, delimiter=',')
df2 = pd.read_csv(url_kiva_country_profile_variables,delimiter=",")

In [117]:
import pandas as pd

#Seeing first data set "country_vaccinations.csv"

df1.head() #Here we want to overview the dataset


# We can see that several columns are with (NaN) Values.
# This may be change as numeric value (0) given that the columns have numbers in it
# Start date of vaccination is different for every country

     country  ...                                     source_website
0  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...

[5 rows x 15 columns]

In [118]:
df1.describe
df1['date'] =pd.to_datetime(df1['date'],  format='%Y-%m-%d' )
#print(df1.dtypes)
df1.head()
max_date=df1['date'].max()
min_date=df1['date'].min()
print(f'The earliest date of vaccination is {min_date} and the oldest is {max_date}' )
df1.head()

The earliest date of vaccination is 2020-12-13 00:00:00 and the oldest is 2021-01-27 00:00:00

     country  ...                                     source_website
0  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...

[5 rows x 15 columns]

In [119]:
# Data columns
print(df1.columns)
print('')
print('Countries in the data:')

print('')
print(df1['country'].unique())
countries_df1 = df1['country'].unique()
len(countries_df1)

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')

Countries in the data:

['Argentina' 'Austria' 'Bahrain' 'Belgium' 'Bermuda' 'Brazil' 'Bulgaria'
 'Canada' 'Chile' 'China' 'Costa Rica' 'Croatia' 'Cyprus' 'Czechia'
 'Denmark' 'Ecuador' 'England' 'Estonia' 'Finland' 'France' 'Germany'
 'Gibraltar' 'Greece' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Ireland'
 'Isle of Man' 'Israel' 'Italy' 'Kuwait' 'Latvia' 'Lithuania' 'Luxembourg'
 'Malta' 'Mexico' 'Myanmar' 'Netherlands' 'Northern Cyprus'
 'Northern Ireland' 'Norway' 'Oman' 'Panama' 'Poland' 'Portugal' 'Romania'
 'Russia' 'Saudi Arabia' 'Scotland' 'Serbia' 'Seychelles' 'Singapore'
 'Slovakia' 'Slovenia' 'Spain' 'Sweden' 'Switzerland' 'Turkey'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Wales']

63

In [120]:
# Seeing the dataset "kiva_country_profile_variables.csv"

#print(df2.columns)
df2.head()
df2['country'].duplicated()
df2.drop_duplicates(inplace=True)
# Actually there are no duplicates, the dataset remains with 86 rows.
countries_df2=df2['country'].unique()

len(countries_df2)

86

After seeing the three data frames we can se that 

---

In [121]:
print(countries_df1)
print('')
print(countries_df2)

['Argentina' 'Austria' 'Bahrain' 'Belgium' 'Bermuda' 'Brazil' 'Bulgaria'
 'Canada' 'Chile' 'China' 'Costa Rica' 'Croatia' 'Cyprus' 'Czechia'
 'Denmark' 'Ecuador' 'England' 'Estonia' 'Finland' 'France' 'Germany'
 'Gibraltar' 'Greece' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Ireland'
 'Isle of Man' 'Israel' 'Italy' 'Kuwait' 'Latvia' 'Lithuania' 'Luxembourg'
 'Malta' 'Mexico' 'Myanmar' 'Netherlands' 'Northern Cyprus'
 'Northern Ireland' 'Norway' 'Oman' 'Panama' 'Poland' 'Portugal' 'Romania'
 'Russia' 'Saudi Arabia' 'Scotland' 'Serbia' 'Seychelles' 'Singapore'
 'Slovakia' 'Slovenia' 'Spain' 'Sweden' 'Switzerland' 'Turkey'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Wales']

['Afghanistan' 'Albania' 'Armenia' 'Azerbaijan' 'Belize' 'Benin' 'Bhutan'
 'Bolivia' 'Brazil' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Chile'
 'China' 'Colombia' 'Congo' 'Costa Rica' "Cote D'Ivoire"
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Georgia' 'Ghana'
 'Guam' 'Guatemala' 'Haiti' 'Honduras' 'India' 'Indonesia' 'Iraq' 'Israel'
 'Jordan' 'Kenya' 'Kyrgyzstan' "Lao People's Democratic Republic"
 'Lebanon' 'Lesotho' 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania'
 'Mexico' 'Moldova' 'Mongolia' 'Mozambique' 'Myanmar (Burma)' 'Namibia'
 'Nepal' 'Nicaragua' 'Nigeria' 'Pakistan' 'Palestine' 'Panama' 'Paraguay'
 'Peru' 'Philippines' 'Puerto Rico' 'Rwanda'
 'Saint Vincent and the Grenadines' 'Samoa' 'Senegal' 'Sierra Leone'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Suriname'
 'Tajikistan' 'Tanzania' 'Thailand' 'The Democratic Republic of the Congo'
 'Timor-Leste' 'Togo' 'Turkey' 'Uganda' 'Ukraine' 'United States'
 'Vanuatu' 'Vietnam' 'Virgin Islands' 'Yemen' 'Zambia' 'Zimbabwe']

In [122]:
# We are going to do a (Merge = inner join) between countries_df1 and  countries_df2

df1.iloc[:,0]
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [127]:
df1['people_vaccinated'].fillna(0, inplace = True)
df1['total_vaccinations'].fillna(0)

for i in range(1,len(df1['total_vaccinations'])) :

  if (df1.iloc[i,0] == df1.iloc[i-1,0]) and (df1.iloc[i,5] == '0') :

    df1.iloc[i,5] == df1.iloc[i-1,5]
    print('1')
    print(df1.iloc[82:97,[0,4]])
      
df1.iloc[1,4]

atras2= df1.iloc[1-1,0]
adelante2= df1.iloc[1,0]
print()
valor_2= df1.iloc[1,4]
if atras2 == adelante2 and  valor_2 == 0 :
  print('e')

e

In [131]:
for i in range(1,len(df1['total_vaccinations'])) :
  atras= df1.iloc[i-1,0]
  adelante= df1.iloc[i,0]

  valor_0 = df1.iloc[i,4]

  if  adelante == atras and valor_0 == 0 :
    
    

    df1.iloc[i,4] = df1.iloc[i-1,4]
  
print(df1.iloc[80:90,4])

80      0.0
81      0.0
82    298.0
83    299.0
84    778.0
85    787.0
86    787.0
87    787.0
88    787.0
89    788.0
Name: people_vaccinated, dtype: float64

In [145]:
 # Here we want to create a new data frame that shows the max people vaccinated by country
sub_df1 = df1[['country','total_vaccinations']]
people_vaccinated=sub_df1.groupby(by= 'country').max()
people_vaccinated.head()

           total_vaccinations
country
Argentina            318033.0
Austria              195886.0
Bahrain              144130.0
Belgium              231466.0
Bermuda                2932.0

In [147]:
# Now we need to merge this data with (df2) that has the rest of the countries information

join = pd.merge(people_vaccinated, df2, how='inner', on='country')

join.head()
#With the (join) dataframe we can start an analysis between countries indices and their total vaccinations

      country  ...  Net Official Development Assist. received (% of GNI)
0      Brazil  ...                                                -99
1       Chile  ...                                                -99
2       China  ...                                                -99
3  Costa Rica  ...                                                -99
4     Ecuador  ...                                                -99

[5 rows x 51 columns]

In [188]:
#Now we create a correlation matrix to see the correlation between the indices (our independent variables) and total vacionations( our dependent variables)


#join.set_index('country', inplace=True)

corr=join[join.columns[:]].corr()['total_vaccinations'][:]

# We see the highest top 10 correlation values
corr.nlargest(n=10)
#

total_vaccinations                                       1.000000
International trade: Imports (million US$)               0.964612
CO2 emission estimates (million tons/tons per capita)    0.958755
GDP: Gross domestic product (million current US$)        0.957818
International trade: Exports (million US$)               0.953714
Surface area (km2)                                       0.793052
Energy production, primary (Petajoules)                  0.748763
GDP per capita (current US$)                             0.572848
Population in thousands (2017)                           0.518634
Health: Total expenditure (% of GDP)                     0.474097
Name: total_vaccinations, dtype: float64

In [179]:
df2.tail()

           country  ... Net Official Development Assist. received (% of GNI)
81         Vietnam  ...                                                -99
82  Virgin Islands  ...                                                -99
83           Yemen  ...                                                -99
84          Zambia  ...                                                -99
85        Zimbabwe  ...                                                -99

[5 rows x 50 columns]